.title {
    font-weight: bold;
    line-height: 167%;
    &__fz14 {
        font-size: 14px;
    }
    &__fz16 {
        font-size: 16px;
    }
    &__fz36 {
        font-size: 36px;
    }
    &__fz20 {
        font-size: 20px;
        line-height: 30px;
    }

    &__fz48 {
        line-height: 125%;

        font-size: 48px;
    }
}
